ol.commentlist {
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
	text-indent: 0;

	li {
		&.comment {
			border-bottom: 1px solid rgba(0,0,0,.1);
			padding: 1em 0;

			.comment-awaiting-moderation {
				font-size: 16px;
			}

			.vcard {
				.avatar {
					display: none;
				}
			}

			.comment-meta {
				display: none;
			}

			p {
				font-size: 16px;
			}

			ul {
				margin: 0 0 0 20px;
				list-style: none;
			}

			.reply {
				text-align: right;
				font-size: 16px;
			}

			ul.children {

				li {
					border-bottom: none;

					&.depth-2, &.depth-3, &.depth-4, &.depth-5 {
						margin: 20px 0 20px 10px;
						padding: 20px 0 20px 20px;
						border-left: 5px solid #fff;
					}
				}
			}
		}
	}
}

.comment-notes {
	font-size: 16px;
}

.comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url {
	margin-bottom: 0.5em;
	font-size: 80%;

	label {
		display: block;
		margin-bottom: 0;
	}
}

#comment {
	max-width: 100%;
}

#cancel-comment-reply-link {
	float: right;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 16px;
}