.comment {
	margin-bottom: 20px;
}

.comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url  {
	label {
		display: block;
	}

	textarea {
		max-width: 100%;
	}
}

.commentlist {
	list-style: none;
	padding: 0;
}

.comment-meta {
	font-size: 12px;
	margin-bottom: 10px;
}

.comment-notes {
	font-size: 80%;
}

.comment-subscription-form {
	margin-bottom: 0;
	font-size: 14px;
}