footer {
	min-height: 328px;
	padding: 20px 0 65px;
	background: url(../img/footer-bg.png) repeat-x top center white;

	.rocket {
		position: relative;
		top: -15px;
		height: 328px;
		width: auto;
		background: url(../img/rocket.png) no-repeat left bottom transparent;
	}

	.list-inline {
		margin: 0;
		padding: 0;
	}

	.copyright {
		margin-bottom: 0;
		text-align: center;
		font-size: 14px;
	}
}
