body {
	@include sans-serif-font;
	font-size: 20px;
	color: $white;
	background-color: $blue-dark;
	-webkit-tap-highlight-color: $blue-dark;
}

p {
	line-height: 1.5;
	margin: 0 0 30px;
}

h1, h2, h3, h4, h5, h6 {
	@include serif-font;
	font-weight: 800;
}

a {
	color: $blue-link;
	font-style: italic;

	&:focus,
	&:hover {
		color: $blue-link;
		text-decoration: underline;
	}
}

.social-link {
	color: $blue-light;

	&:focus,
	&:hover {
		color: $blue-dark;
	}
}

blockquote {
	padding-left: 20px;
	border-left: 5px solid white;
	font-style: italic;
	color: $white;
}

.section-heading {
	font-size: 36px;
	font-weight: 700;
	margin-top: 60px;
}

.caption {
	font-size: 14px;
	font-style: italic;
	color: $white;
	display: block;
	margin: 0;
	padding: 10px;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

::-moz-selection {
	color: white;
	background: $blue-dark;
	text-shadow: none;
}

::selection {
	color: white;
	background: $blue-dark;
	text-shadow: none;
}

img::selection {
	color: white;
	background: transparent;
}

img::-moz-selection {
	color: white;
	background: transparent;
}