header.masthead {
	@include background-cover;
	background: no-repeat center center;
	background-color: $blue-dark;
	background-attachment: scroll;
	margin-bottom: 50px;

	.page-heading,
	.post-heading,
	.site-heading {
		padding: 200px 0 150px;
		color: white;

		@media only screen and (min-width: 768px) {
			padding: 200px 0;
		}
	}

	.page-heading,
	.site-heading {
		text-align: center;

		h1 {
			font-size: 50px;
			margin-top: 0;
		}

		.subheading {
			font-size: 24px;
			font-weight: 300;
			line-height: 1.1;
			display: block;
			margin: 10px 0 0;
			@include sans-serif-font;
		}

		@media only screen and (min-width: 768px) {
			h1 {
				font-size: 80px;
			}
		}
	}

	.post-heading {
		h1 {
			font-size: 35px;
		}

		@media only screen and (min-width: 768px) {
			h1 {
				font-size: 55px;
			}
		}
	}
}

/* Header - Naked
-------------------------------------------------------------- */
.site-title a{
	text-transform: uppercase;
	font-size: 4em;
	text-align: center;
}
.site-title a:hover{
}
.site-description{
	font-style: italic;
}
header {
	padding: 20px 0;
	background: transparent;
	margin: 20px auto;
}
header .gravatar {
	overflow: hidden;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0;
	float: right;
}
header #brand {
	margin:1em 0;
}
header #brand h1 {
	font-weight: 900;
	color: #565656;
	font-size: 16px;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.45em;
}
header #brand h1 a {
	color: #565656;
	text-decoration: none;
}
header #brand h1 span {
	font-weight: 200;
	color: #888888;
	text-transform: lowercase;
}
header nav {
	font-family: "Quicksand", Helvetica, sans-serif;
}
.menu-main-nav-container, .menu-main-container {
	float: right;
}
header nav ul {
	list-style: none;
	margin: 0;
}
header nav ul li {
	float: left;
	margin: 2px 10px 0 0;
}
header nav ul li a {
	color: #888888;
	font-size: 14px;
}