.blog-image {
	max-width: 100%;
}

.post-preview {
	> a {
		color: $white;
		font-style: normal;


		&:focus,
		&:hover {
			text-decoration: underline;
		}

		> .post-title {
			font-size: 30px;
			margin-top: 30px;
			margin-bottom: 10px;
		}

		> .post-subtitle {
			font-weight: 300;
			margin: 0 0 10px;
		}
	}

	> .post-meta {
		font-size: 18px;
		margin-top: 0;
		color: $white;
	}

	.more-link {
		font-size: 18px;
		text-decoration: none;
		color: $white;
		font-style: italic;

		&:focus,
		&:hover {
			text-decoration: underline;
			color: $white;
		}
	}

	@media only screen and (min-width: 768px) {
		> a {
			> .post-title {
				font-size: 36px;
			}
		}
	}
}
